*{
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */


}


h3{
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 30px;
}

body{
    background-color: rgb(255, 255, 255);
    color : #1e1e1e;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
}


.container{
    max-width: 1080px;
    margin: 40px auto;
    padding: 80px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
}
form{
    margin-top: 20px;
    border: 1px solid solid rgb(44, 201, 255)
}

label{
    font-weight: bold;
}

input, textarea, select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav{
    background-color: blue;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
}

button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
}


nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: bold;
}


nav a:hover{
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
}


h1{
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 40px;
    margin-bottom: 5px solid #3498db;
    padding-left: 10px;
    border-left: 10px;
}

button:hover{
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{ /* cabeçalho da tabela */
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: left;
}

td{ /* células da tabela */
    border: 1px solid #ccc;
    padding: 10px;
}

video, audio, iframe{
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
}


pre{
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    margin-top: 20px;
}

code{
    font-family: 'Courier New', Courier, monospace;
    color: #c7254e;
}


footer{
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
}
